<br>
<hr><div class="form-group">
  <label for="name">Server Name</label>
  <input
    type="text"
    id="name"
    class="form-control"
    #serverName>
</div>

<div class="form-group">
  <label for="status">Server Status</label>
  <select
    type="text"
    id="status"
    class="form-control"
    [(ngModel)]="serverStatus">
    <option value="online">Online</option>
    <option value="offline">Offline</option>
  </select>
</div>

<button 
  (click)="onUpdateServer()"
  class="btn btn-primary">Update Server</button>
 
<button
  (click)="onReload()"
  class="btn btn-primary">Reload</button> //Reload button not working for now
  <br>
  <p><a [routerLink]="['/servers',13,'ws','wsws']">Load the id 13</a></p>
  <p><a [routerLink]="['/servers',14,'xx','sdsd']">Load the id 14</a></p>
  <hr>
  <!-- <p>{{server.id}}</p>
  <p>{{server.name}}</p>
  <p>{{server.status}}</p> -->
  